.item {
  overflow: hidden;
  cursor: pointer;
  &:last-child {
    border: none !important;
  }
  .item__image {
    img {
      width: 180px;
      height: 180px;
    }
  }
  .item__description {
    .item__description__price {
      font-size: 1.5rem;
      color: #000;
    }
    .item__description__title {
      font-size: 1.125rem;
      color: #000;
    }
    .item__shipping--free {
      background: url('/img/ic_shipping.png') no-repeat center center;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      top: 7px;
      position: relative;
      left: 7px;
    }
  }
  .item__city {
    font-size: 12px;
  }
}
